.place{
    list-style-type: none;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: fit-content(340px) minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-row-gap: 3rem;
    grid-column-gap: 2.5rem;
}
.place:last-of-type{
    margin-bottom: 0px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place{
        grid-column-gap: 2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .place{
        grid-column-gap: 1.75rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .place{
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        gap: 2rem;
    }
}