.lead{
    margin: 3.5rem auto 0px;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead{
        max-width: 928px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .lead{
        margin: 3rem auto 0px;
    }
}