.lead__background{
    width: 100%;
    height: 615px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__background{
        height: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .lead__background{
        height: auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .lead__background{
        height:auto;
    }
}